
.form-box {
    flex: 1 1 48%;
    max-width: 800px;
    position: relative;
    display: grid;
    gap: var(--space-sm);
    background-color: var(--bkg);
    padding: var(--space-xl);
    border-radius: var(--round-lg);
    box-shadow: 0.25em 0.3em 1em hsl(var(--muted) / 0.2); 
}


label {
    font-size: var(--fs-300);
    font-weight: bold;
}

input,
select {
    width: 100%;
    font: inherit;
    font-size: var(--fs-300);
    background-color: hsl(var(--bkg));
    border: 2px solid hsl(var(--muted));
    border-radius: var(--round-sm);
    padding: var(--space-xs) var(--space-sm);
    height: 100%;
    transition: box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.inbut-box {
    margin-bottom: 30px;
}

.expense-inputs {
    display: flex;
    gap: var(--space-md);
}

@media screen and (max-width: 725px) {
    .expense-inputs {
        flex-wrap: wrap;
    }
}
