.budget {
    --backdrop: var(--accent);
    display: grid;
    flex: 1 1 32.2%;
    max-width: 600px;
    box-shadow: 0.25em 0.3em 1em hsl(var(--muted) / 0.2);
    background-color: var(--bkg);
    border-radius: var(--round-lg);
    border: 3px solid hsl(var(--backdrop));
    padding: calc(var(--space-md) / 1.5) calc(var(--space-md) / 1.2);
    gap: var(--space-sm);
    text-decoration: none;
    color: hsl(var(--backdrop));
}
.progress-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-lg);
}

.progress-text :nth-child(2) {
    text-align: right;
}

.progress-text:nth-of-type(2) :nth-child(2) {
    color: hsl(var(--muted));
}