*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
 /* utils */
  --space-xs: 8px;
  --space-sm: 16px;
  --space-md: 24px;
  --space-lg: 32px;
  --space-xl: 40px;
  --content-sm: 40ch;
  --content: 60ch;
  --round-sm: 4px;
  --round-md: 10px;
  --round-lg: 25px;
  --round-full: 100vmax;

    /* colors */
    --accent: 183 74% 44%;
    --bkg: 190 60% 98%;
    --text: 185 26% 9%;
    --muted: 183 8% 55%;
    --light: 180 14% 85%;
    --warning: 4 66% 63%;
}

/* color utils */

.accent {
  color: hsl(var(--accent));
}

.muted {
  color: hsl(var(--muted));
}
/* utility layouts */

.flex-lg {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: var(--space-lg);
}

.flex-md {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: var(--space-md);
}

.flex-sm {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: var(--space-sm);
}

.grid-lg {
  display: grid;
  gap: var(--space-lg);
  width: 100%;
}

.grid-md {
  display: grid;
  gap: var(--space-md);
  width: 100%;
}

.grid-sm {
  display: grid;
  gap: var(--space-sm);
  width: 100%;
}

.grid-xs {
  display: -ms-grid;
  display: grid;
  gap: var(--space-xs);
  width: 100%;
}

[hidden] {
  display: none;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
